body{
    font-family: montserrat,sans-serif;
  }

  .header-attractions{
    text-align: center;
  }
  

  /* Main indhold */
.column-attractions {
  float: left;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.row-attractions:after {
  content: "";
  display: table;
  clear: both;
}