.category {
    display: grid;
    width: 90%;
    place-items: center;
    place-content: center;
    padding: 1em;
  
  /* grid-template: "container";
  overflow: hidden;
  max-height: clamp(450px, 50vh, 600px);
  position: relative; */
}
.category > * {
    grid-area: 1 / 1;
  }

.category > img {
    width: 100%;
}

.category > div {
    color: white;
    font-size: 2.5em;
    font-family: montserrat,sans-serif;
font-weight: 700;
font-style: normal;
}
