body{
  font-family: montserrat,sans-serif;
}

.header-discover{
    text-align: center;
}

.under-rubrik-discover{
    text-align: center;
    font-weight: normal;
    padding: 2px;
    padding-left: 25px;
    padding-right: 25px;
}

/* søge felt*/
.søgefelt2{
  text-align: center;
  padding-right: 1rem;
}

.søg-ikon2{
  position: relative;
  top: 3px;
  left: 2.8vh;
}

.input-søge2{
  padding: 5px 1.7rem;
  border-style: solid;
}

/* muligheder knapper/ikoner*/
.discover-ikon-tekst{
  color: rgb(2, 43, 82);
}

.mulighed{
  background-color: #ffffff;
}

.attraktioner1{
  font-size: 33px;
  color: #000000;
}

.attraktioner1:hover{
  color: rgb(231, 0, 19);
}

.hotel1{
  font-size: 33px;
  color: #000000;
}

.events1{
  font-size: 33px;
  color: #000000;
}

.aktiviteter1{
  font-size: 33px;
  color: #000000;
}

.tilbage-pil{
  font-size: 33px;
}

.frem-pil{
  font-size: 33px;
}

/* lille tekst under søgefeltet*/
.lille-tekst-container2{
  text-align: center;
}

.lille-tekst2{
  font-size: 10px;
  color: black;
} 


/* Main indhold */
.column-discover {
    float: left;
    width: 50%;
    justify-content: center;
    text-align: center;
  }
  
  .row-discover:after {
    content: "";
    display: table;
    clear: both;
  }