body{
    font-family: montserrat,sans-serif;
  }

  .header-hotel{
    text-align: center;
  }

   /* Main indhold */
.column-hotel {
  float: left;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.row-hotel:after {
  content: "";
  display: table;
  clear: both;
}