
body{
    font-family: montserrat,sans-serif;
  }

/*intro*/
.header-plan{
    text-align: center;
}

.under-rubrik-plan{
    text-align: center;
    font-weight: normal;
    padding: 2px;
    padding-left: 25px;
    padding-right: 25px;
}

/* dato/print knap og ikoner */
.dage-knap{ 
    background-color: #FFFFFF;
    display: inline;
    padding: 5px 10px;
    margin-right: -1.5rem;
    border-radius: 12px;
    font-size: 13.4px;
    margin-left: 1.7rem;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.pil-ned{
    position: relative;
    cursor: pointer;
    top: 4px;
    font-size: 18px;
}

.print-ikon{
    font-size: 20px;
    position: relative;
    cursor: pointer;
    top: 4px;
}

.kalender-ikon{
    font-size: 22px;
    position: relative;
    cursor: pointer;
    top: 4px;
}


/* main indhold - tidsplan bokse og knapper*/
.dag-overskrift{
    padding-left: 1.5rem;
}

.afgang-knap{ 
    background-color: #FFFFFF;
    display: inline;
    padding: 5px 10px;
    margin-right: -1.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.transport-knap{ 
    background-color: #FFFFFF;
    display: inline;
    padding: 5px 10px;
    margin-right: -1.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.ankomst-knap{ 
    background-color: #FFFFFF;
    display: inline;
    padding: 5px 11px;
    margin-right: -1.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.aktivitet-knap{ 
    background-color: #FFFFFF;
    display: inline;
    padding: 5px 15px;
    margin-right: -1.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.begivenhed-knap{ 
    background-color: #FFFFFF;
    display: inline;
    padding: 5px 10px;
    margin-right: -1.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.slet-ikon{
    position: relative;
    cursor: pointer;
    top: 7px;
    font-size: 27px;
    padding-left: 2.6rem;
}

.pil-ned2{
    position: relative;
    cursor: pointer;
    padding-left: 1.5rem;
    top: 4px;
    font-size: 18px;
}

/* indholdskasse */

.indholdskasse{
    padding-top: 0.5rem;
}
.timing{
    margin-left: 1.8rem;
    width: max-content;
    padding: 5px 0 0 0;
    margin-bottom: -3.5rem;
    font-weight: bold;
}

.indholdstekst{
    margin-left: 1.5rem;
    padding-right: 8px;
    border-style: solid;
    width: max-content;
    padding-top: 0.5rem;
    font-size: 14px;
}

.indholdstekst2{
    margin-left: 4.9rem;
    margin-top: -0.5rem;
}

.bus-ikon{
    margin-left: 3.3rem;
    font-size: 20px;
    margin-bottom: -1rem;
}

.edit-ikon{
    padding-left: 2.5rem;
    font-size: 22px;
}

.kajak-ikon{
    margin-left: 3.3rem;
    font-size: 20px;
    margin-bottom: -1rem;
}

.ticket-ikon{
    margin-left: 3.3rem;
    font-size: 20px;
    margin-bottom: -1rem;
}

/* Tilføj ny sektion/ */

.tilføj{
    text-align: center;
} 

.tilføj-tekst{
    text-align: center;
    margin-top: -0.5rem;
    font-weight: bold;
    margin-bottom: -0.5rem;
}

.tilføj-ikon{
    text-align: center;
    justify-content: center;
    font-size: 35px;
}